CompileFlags:
  CompilationDatabase: build/
  Add: [-I/home/hpesoj/Projects/ReCubed/src]

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None

InlayHints:
  Enabled: true
  ParameterNames: true
